<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
        <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-nexus-index") %>>
        <a href="/docs/providers/nexus/index.html">Nexus Provider</a>
        </li>
        <li<%= sidebar_current("docs-nexus-datasource") %>>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("data_source_blobstore") %>>
              <a href="/docs/providers/nexus/d/data_source_blobstore.html">data_source_blobstore</a>
            </li>
            <li<%= sidebar_current("data_source_privileges") %>>
              <a href="/docs/providers/nexus/d/data_source_privileges.html">data_source_privileges</a>
            </li>
            <li<%= sidebar_current("data_source_repository") %>>
              <a href="/docs/providers/nexus/d/data_source_repository.html">data_source_repository</a>
            </li>
            <li<%= sidebar_current("data_source_security_ldap") %>>
              <a href="/docs/providers/nexus/d/data_source_security_ldap.html">data_source_security_ldap</a>
            </li>
            <li<%= sidebar_current("data_source_security_realms") %>>
              <a href="/docs/providers/nexus/d/data_source_security_realms.html">data_source_security_realms</a>
            </li>
            <li<%= sidebar_current("data_source_user") %>>
              <a href="/docs/providers/nexus/d/data_source_user.html">data_source_user</a>
            </li>
          </ul>
        </li>
        <li<%= sidebar_current("docs-nexus-resource") %>>
        <a href="#">Resources</a>
        <ul class="nav nav-visible">
            <li<%= sidebar_current("resource_blobstore") %>>
              <a href="/docs/providers/nexus/r/resource_blobstore.html">resource_blobstore</a>
            </li>
            <li<%= sidebar_current("resource_content_selector") %>>
              <a href="/docs/providers/nexus/r/resource_content_selector.html">resource_content_selector</a>
            </li>
            <li<%= sidebar_current("resource_privilege") %>>
              <a href="/docs/providers/nexus/r/resource_privilege.html">resource_privilege</a>
            </li>
            <li<%= sidebar_current("resource_repository") %>>
              <a href="/docs/providers/nexus/r/resource_repository.html">resource_repository</a>
            </li>
            <li<%= sidebar_current("resource_role") %>>
              <a href="/docs/providers/nexus/r/resource_role.html">resource_role</a>
            </li>
            <li<%= sidebar_current("resource_script") %>>
              <a href="/docs/providers/nexus/r/resource_script.html">resource_script</a>
            </li>
            <li<%= sidebar_current("resource_security_ldap") %>>
              <a href="/docs/providers/nexus/r/resource_security_ldap.html">resource_security_ldap</a>
            </li>
            <li<%= sidebar_current("resource_security_ldap_order") %>>
              <a href="/docs/providers/nexus/r/resource_security_ldap_order.html">resource_security_ldap_order</a>
            </li>
            <li<%= sidebar_current("resource_security_realms") %>>
              <a href="/docs/providers/nexus/r/resource_security_realms.html">resource_security_realms</a>
            </li>
            <li<%= sidebar_current("resource_user") %>>
              <a href="/docs/providers/nexus/r/resource_user.html">resource_user</a>
            </li>
        </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
